body {
  display: flex;
}

#shop-panel {
  width: 70vw;
  display: flex;
  flex-flow: row wrap;
}

#cart-panel {
  width: 30vw;
}

.item {
  border: 1px solid blue;
}

.shop-item {
  width: 20vw;
}

.cart-item {
  display: flex;
}

.imgbox img { max-width: 100%; }
